Database
Models
Release
Debug
AgeGender.opensdf
AgeGender.sdf
AgeGender.suo
AgeGender.v11.suo
releasePropertySheet.props
debugPropertySheet.props
GenderRecognition.pro
GenderRecognition.pro.autosave
GenderRecognition.pro.user
Makefile
Makefile.Debug
Makefile.Release
object_script.GenderRecognition.Debug
object_script.GenderRecognition.Release